.banner {
	height: 290px;

	.callToAction {
		text-indent: -9999px;
		background: transparent url('../../images/main/joinNow.gif') no-repeat 0 0;
		width: 184px;
		height: 58px;
		margin: 0 auto;
		display: block;
		position: relative;
		top: -32px;
		border: solid 5px #000;
		border-radius: 5px;

		&:hover {
			background-position-y: -48px;
			cursor: pointer;
		}
	}
}

article {
	display: table;
	width: calc(100% - 40px);
	margin: 0 20px 20px;
	font-size: 11px;
	text-align: center;

	.title {
		font-weight: bold;
		margin-bottom: 10px;
	}
	li {
		margin-bottom: 3px;
		color: $lightGreyTxtColor;
	}

	img {
		margin-top: 20px;
		height: 118px;
		width: 236px;
		display: block;
		cursor: pointer;
	}
	.active img,
	img:hover {
		padding-left: 236px;
		box-sizing: border-box;
	}
	.poker,
	.casino,
	.sports {
		display: table-cell;
		vertical-align: bottom;
		width: 236px;
	}
	.active.poker img,
	.poker img:hover {
		background: transparent url('../../images/main/pokerActive.png') no-repeat 0 0;
	}
	.active.casino img,
	.casino img:hover {
		background: transparent url('../../images/main/casinoActive.png') no-repeat 0 0;
	}
	.active.sports img,
	.sports img:hover {
		background: transparent url('../../images/main/sportsActive.png') no-repeat 0 0;
	}
}

.showMoreInfo {
	border-top: solid 1px $greyBorderColor;
	margin-top: 20px;
	font-size: 11px;

	button,
	p { background: $greyBgColor; }

	button {
		padding: 5px 0;
		margin-top: 20px;
		display: block;
		border: none;
		width: 100%;
		color: #fff;
		cursor: pointer;
	}
	p {
		padding: 20px;
		line-height: normal;
	}
	.hide { display: none; }
}
