footer {
	font-size: 10px;

	.contentWrapper {
		padding: 20px;
		background: #000;
		overflow: hidden;
		box-sizing: border-box;
	}

	ul {
		background: #000;
		color: $lightGreyTxtColor;
		width: 20%;
		float: left;

		li {
			margin-bottom: 5px;

			&:first-child {
				font-size: 11px;
				font-weight: bold;
			}
		}
	}
	.extraLinks {
		margin: 5px 0 20px 0;
		background: $darkBgColor;
		border: solid 1px #000;
		border-radius: 0 0 5px 5px;
		padding: 10px;
		color: $lightBlueTxtColor;
		overflow: hidden;

		.left { float: left; }
		.right { float: right; }
	}
}
