// variables
$bodyBgColor: #2d3940;
$greyBgColor: #16191c;
$darkBgColor: #1b2226;
$redBgColor: #651515;

$lightBlueTxtColor: #85a5b1;
$lightGreyTxtColor: #636363;

$greyBorderColor: #283238;

body {
	background: $bodyBgColor url('../../images/common/bg.gif') repeat 0 0;
	font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #fff;
}

.container {
	width: 760px;
	margin: 0 auto;
}

main {
	background: #000;
}

a {
	text-decoration: none;
	color: inherit;

	&:hover {
		text-decoration: underline;
	}
}
