header {
	background: #000;
	overflow: hidden;

	.logo,
	nav, li { text-indent: -9999px; }

	.logo {
		float: left;
		color: red;
		width: 93px;
		height: 19px;
		background: transparent url('../../images/header/logo.png') no-repeat 0 0;
		margin: 20px 25px;
	}
	nav {
		li {
			float: left;
			width: 82px;
			height: 56px;
			background: transparent url('../../images/header/navBg.png') no-repeat 0 -56px;
			margin: 0 2px 10px;

			&:hover {
				cursor: pointer;
				background-position-y: 0;
			}
		}
		.casino {
			background-position: -82px -56px;
		}
		.sports {
			background-position: -164px -56px;
		}
		.live {
			background-position: -246px -56px;
		}
	}
	.contactInfo {
		border-top: solid 1px $greyBorderColor;
		font-size: 10px;
		clear: both;
		color: $lightBlueTxtColor;
		background-color: $darkBgColor;
		padding: 5px 10px;

		span { color: #fff; }
	}
}
