@media only screen and (max-width: 600px) {
	.container {
		width: 100%;
	}
	header .logo,
	nav li { float: none; }

	.banner {
		height: auto;

		img {
			width: 100%;
			height: auto;
		}
	}
	article {
		.category {
			width: 100%;
			display: block;
		}
		ul { margin-bottom: 20px; }
		img {
			margin: 0 auto 20px auto;
			width: 100%;
			height: auto;
		}
		.active img,
		img:hover {
			padding-left: 0;
		}
	}
	footer {
		.extraLinks .left { margin-bottom: 10px; }

		.extraLinks .left,
		.extraLinks .right { float: none; }
	}
}
